<% provide(:title, "Admin's Dashboard") %>

<div class="row container-fluid">
  <div class="col-sm-12">
    <h2>Published Articles</h2>
    <%= render 'auction_list'%>
  </div>
  <div class="col-sm-12">
    <hr>
    <div class="pull-right">
      <%= link_to 'Start an Auction', new_auction_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
