<% provide(:title, "Bidder's Dashboard") %>

<div class="row container-fluid">
  <div class="col-sm-12">
    <h2>My Bids</h2>
    <%= render 'bidder_dashboard'%>
  </div>

  <div class="col-sm-12">
    <hr>
    <div class="pull-right">
      <%= link_to 'Start an Auction', new_auction_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
