<% provide(:title, "Home") %>
<div class="container">

  <div class="center jumbotron">
    <h1>Online Bidding System Objectives</h1>
    <ul>
      <li>Create a simple bidding platform that will allow users to bid for a product.</li>
      <li>The platform shoud support two types of users: "Bidder" and "Admin".</li>
      <li>Admin can post a product and set the following product details: name, description, lowest allowable bid, starting bid price, bidding expiration, stop bidding switch (to stop the bidding).</li>
      <li>Admin CMS should have module to check the product entry manager that has the following: the product details above, bidding expiration, current lowest bid, bidder names.</li>
      <li>Bidder Dashboard should have a way to see the products that a user has participated in bidding.</li>
      <li>The platform should have registration system for bidders that has the following: full name, email address, password.</li>
      <li>The system should have a login system<li>
    </ul>
    <h1>
      <% if current_user.nil? %>
      	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
      <% else %>
      	<%= link_to admin_path, class: 'login-button' do %>Go to App<% end %>
      <% end %>
    </div>
  </h1>
  </div>

</div>
